body {
    padding-bottom: 2em;
}

.header-big {
    font-size: 12em;
    margin-left: 0.5em;
}

.header-md {
    font-size: 4em;
    margin-right: 1em;
}

.content-text {
    text-align: center;
    font-size: 2.5em;
    margin-right: 1em;
}

.design {
    background-color: #1887a8;
    padding: 1em;
    margin-top: 2em;
    border-radius: 10px;
}

.spacing {
    letter-spacing: 0.3em;
}

.header-right {
    text-align: right;
}

.another-color {
    background-color: rgb(206, 50, 50)
}

.row {
    color: #000;
}

.grey {
    background-color: #717171;
}

.bg-svg {
    background: url('../img/portfoliobanner_face2.svg') no-repeat center center;
    background-size: cover;
    padding-bottom: 100%;
}

.face {
    height: 900px;
    overflow: hidden;
}

.face img {
    height: 100%;
}

.top-1 {
    margin-top: 1em;
}

.top-2 {
    margin-top: 2em;
}

.my-center {
    text-align: center;
}

.white-text {
    color: white;
}

.white-bg {
    background-color: white;
}

.project-text {
    font-size: 2.5em;
    margin-top: 1em;
    color: black;
}

@media screen and (max-width: 375px){
    .header-big {
        font-size: 3em;
        margin-left: 0;
    }
    .header-md {
        font-size: 1.5em;
    }
    .content-text {
        font-size: 1em;
    }
    .face {
        height: 250px;
        overflow: hidden;
    }
    .face img {
        height: 100%;
    }
}

.nav-link {
    border: 1px solid #717171;
    letter-spacing: 0.2em;
}

@media screen and (max-width: 768px) and (min-width: 376px) {
    .header-big {
        font-size: 3.5em;
        margin-left: 0;
    }
    .content-text {
        font-size: 1em;
    }
    .header-md {
        font-size: 2em;
    }
    .face {
        height: 300px;
        overflow: hidden;
    }
    .face img {
        height: 100%;
    }
}

@media screen and (max-width: 1400px) and (min-width: 770px) {
    .header-big {
        font-size: 7.5em;
        margin-left: 0;
    }
    .content-text {
        font-size: 1em;
    }
    .header-md {
        font-size: 3em;
    }
    .face {
        height: 550px;
        overflow: hidden;
    }
    .face img {
        height: 100%;
    }
}